/*
https://youtu.be/WyIiuB8NoqQ?si=ZX41BPI4shkybtv3
https://youtu.be/gRIWFYRaVto?si=srcQq0wnir9HoI13
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: #00002E;
    width: 100%;
}

/* menu */
a {
    font-family: sans-serif;
    text-decoration: none;
  }

  .header {
    background: var(--fundo-1, #182F58);
    padding-inline: 16px;
    position: fixed;
    width: 100%;
    box-shadow: 0px 10px 20px #21224c;
}

.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.empresa{
    display: flex;
    flex-direction: row;
}

.icone_TrfSol{
    width: 75px;
    margin: 5px 25px;
}

.nome_empresa {
    width: 200px;
    margin: 18px 25px 0px 0px;
}
  
.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list {
    display: flex;
    gap: 2vw;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-list a {
    font-size: 18px;
    color: #fff;
    padding-block: 16px;
}

.nav-list a {
    font-size: 1.3vw;
    color: #fff;
    padding-block: 16px;
}

.hero {
    height: calc(100vh - 70px);
    background: center / cover no-repeat url("./bg.jpg");
}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}

.hamburger::after,
.hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

@media (max-width: 918px) {
    .hamburger {
        display: block;
        z-index: 1;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #182f58;
        clip-path: circle(100px at 90% -25%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;

        pointer-events: none;
    }

    .nav-list a {
        font-size: 24px;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }

    .nav-list li:nth-child(4) a {
        transition: 0.5s 0.8s;
    }

    .nav-list li:nth-child(5) a {
        transition: 0.5s 1.0s;
    }

    .nav-list li:nth-child(6) a {
        transition: 0.5s 1.2s;
    }

    .nav-list li:nth-child(7) a {
        transition: 0.5s 1.4s;
    }

    .nav-list li:nth-child(8) a {
        transition: 0.5s 1.6s;
    }

    .nav-list li:nth-child(9) a {
        transition: 0.5s 1.8s;
    }

    /* Estilos ativos */
    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

/* dobra 1 */
main {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-image: url(../imgs/lampadapeq.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    padding: 68px;
}

.bloco_main{
    width: 60%;
    height: 600px;
    margin-top: 1em;
    /* background-color: #48A8E2; */
}

main h1{
    color: #ffffff;
}

main p{
    margin-bottom: 2em;
}

.contraste_img{
    color: #FFF;

    /* h1 Contraste img */
    font-family: Nunito;
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 65px; /* 125% */  
    margin: 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}

.servicos_img{
    color: #FFF;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 28px; /* 116.667% */
}

.a_botao{
    text-decoration: none;
    font-family: "nunito", sans-serif;
    font-size: 18px;
    color: #cf2727;
    cursor: pointer;
}

.botao {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid #9a9a9a;
    border-radius: 20px;
    background: #F2B42D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #505152;
}

/* dobra 2 */
.rectangle_5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background: var(--Fundo-Cinza, #EFEFEF);
}

.title-service {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 35px 0px 45px 0px;
    color: var(--Texto, #162C59);
    font-family: Nunito;
    font-size: 68px;
    line-height: 84px;
}

.blocos_de_texto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.bloco {
    display: flex;
    flex-direction: row;
    width: 382px;
    height: auto;
}

.icone1 {
    color: red;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 15px;
}

.textos{
    display: flex;
    flex-direction: column;
}

.tit_servico1{
    color: var(--Texto, #162C59);

    /* h3 Regular */
    font-family: Nunito;
    font-size: 41px;
    font-style: normal;
    line-height: 51px;
}

.col1{
    color: var(--Texto, #162C59);
    font-family: Nunito;
    font-size: 27px;
    font-style: normal;
}

/* Dobra 3 */
.fundo_azul_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../imgs/fundo_azul_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.quadro_azul {
    display: flex;
    flex-direction: column;
    border: 4px solid rgba(98, 115, 228, 0.25);
    background: rgba(85, 104, 198, 0.05);
    border-radius: 55px;
    width: 75%;
    height: auto;
    margin: 39px 0 39px;
}

.beneficios_gestao {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    font-family: Nunito;
    font-size: 36px;
    color: #ffffff;
    margin: 25px 95px;
}

.beneficios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 11px;
    justify-content: center;
}

.beneficios_bloco {
    width: 45%;
    margin: 5px 8px;
}

.beneficios_titulo{
    font-family: Nunito, sans-serif;
    font-weight: 300;
    font-size: 24px;
}

.beneficios_bloco .cor_1{
    color: #F2B42D;
}

.beneficios_bloco .cor_2{
    color: #D7425E;   
}

.beneficios_bloco .cor_3{
    color: #1cce28;
}

.beneficios_bloco .cor_4{
    color: #48A8E2;  
}

.beneficios_texto{
    font-family: Nunito, sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    padding: 10px 4px;
}

/* Dobra 4 */
.rectangle_6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background: var(--Fundo-Cinza, #EFEFEF);
}

.tit_servico1 {
    color: var(--Texto, #162C59);
    font-family: Nunito;
    font-size: 41px;
    font-style: normal;
    line-height: 51px;
    margin-bottom: 25px;
}

.blocos_de_texto {
    margin-bottom: 60px;
}

/* Dobra 5 */
.fundo_azul_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #00002E;
    height: 100%;
}

.quadro_azul_2 {
    display: flex;
    flex-direction: column;
    border: 4px solid rgba(98, 115, 228, 0.25);
    background: rgba(85, 104, 198, 0.05);
    border-radius: 55px;
    width: 75%;
    height: auto;
    margin: 39px 0 39px;
}

.clientes_satisfeitos {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    font-family: Nunito;
    font-size: 5vh;
    color: #ffffff;
    margin: 20px 0 15px 0;
}

.bloco_imagens {
    display: flex;
    flex-direction: row;
    width: 90%;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: flex-start;
    margin-bottom: 35px;
}

.bloco_esq {
    width: 45%;
    height: auto;
    margin-top: 20px;
}

.fig_empresa{
    width: 98%;
    height: 20vw;
}

.titulo_clientes_satisfeitos{
    font-family: Nunito, sans-serif;
    font-weight: 300;
    font-size: 3.1vh;
    color: #F2B42D;
    margin: 10px 0 10px 14px;
}

.cor_titulo_esq {
    color: #F2B42D;
}

.cor_titulo_dir {
    color: #D7425E;
}

.texto_clientes_satisfeitos{
    font-family: Nunito, sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 2.35vh;
    line-height: 24px;
    padding: 10px 4px;
}

.bloco_dir {
    width: 45%;
    height: auto;
    margin-top: 20px;
}

.fig_empresa_2{
    width: 400px;
}

/* Dobra 6 */
.tit_servico1 {
    color: var(--Texto, #162C59);
    font-family: Nunito;
    font-size: 41px;
    font-style: normal;
    line-height: 51px;
    margin-bottom: 25px;
}

/* Bloco 8 */
.figura_2 {
    background-image: url(../imgs/fundo_consultoria_completa.png);
}

.beneficios_nowarp{
/*     display: flex;
    flex-direction: row; */
    flex-wrap: nowrap;
}

.quadro_azul_elipse {
    display: flex;
    flex-direction: column;
    border: 4px solid rgba(98, 115, 228, 0.25);
    background: rgba(85, 104, 198, 0.05);
    border-radius: 55px;
    width: 75%;
    height: auto;
    margin: 39px 0 39px;
}

.beneficios_titulo{
    font-family: Nunito, sans-serif;
    font-weight: 300;
    font-size: 24px;
}

.beneficios_bloco .cor_1{
    color: #F2B42D;
}

.beneficios_bloco .cor_2{
    color: #D7425E;   
}

.beneficios_bloco .cor_3{
    color: #1cce28;
}

.beneficios_bloco .cor_4{
    color: #48A8E2;  
}

.beneficios_texto{
    font-family: Nunito, sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    padding: 10px 4px;
}

.icone_myspace{
    width: 90px;
    height: 90px;
}

.contato_conosco{
    font-family: Nunito, sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    padding: 10px 4px;
}

.btn_peca_consultoria {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

/* Bloco 9 */
.formulario {
    width: 100%;
    height: 474px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.form_1 {
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-size: 12px; */
    /* color: #656a6e; */
    background-color: #f4f1f1;
    /* line-height: 3em; */
    padding: 20px;
    border-radius: 5px;
}

.linha_1 {
    display: flex;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #b3b47e;
    /* line-height: 3em; */
    /* padding: 7px; */
    border-radius: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    /* align-items: flex-start; */
}

input{
    font-size: 12px;
    color: #656a6e;
    margin-bottom: 18px;
    padding: 5px;

}

.input_txt_1 {
    display: flex;
    flex-direction: row;
    line-height: 1.5em;
    color: #888888;
    width: 45%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.linha_2 {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #656a6e;
    background-color: #b3b47e;
    /* line-height: 3em; */
    /* padding: 7px; */
    border-radius: 5px;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
}

.input_txt_2{
    display: flex;
    flex-direction: row;
    line-height: 1.5em;
    color: #888888;
    width: 95%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.linha_3 {
    display: flex;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #656a6e;
    background-color: #b3b47e;
    line-height: 3em;
    padding: 7px;
    border-radius: 5px;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

select {
    display: flex;
    flex-direction: row;
    line-height: 1.5em;
    color: #888888;
    width: 45%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 2.3em;
}

/* .select_investimento{
    display: flex;
    flex-direction: row;
    line-height: 1.5em;
    color: #888888;
    width: 45%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 2.3em;
} */

.input_txt_3{
    width: 30%;
    line-height: 2em;
}

.input_txt_4{
    width: 65%;
}

.linha_4 {
    display: flex;
    background-color: #b3b47e;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 16vh;
}

#txt_area {
    display: flex;
    flex-direction: row;
    background-color: #767ab3;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-end;
    width: 95%;
    height: 6em;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    padding: 5px 10px;
}

.linha_5{
    background-color: #b3b47e;
    padding: 15px;
}